body {
    margin: 0px;
    direction: rtl;
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('./font/IRANYekanWebRegular.woff') format('woff');

}

.main-container {
    width: 100%;
    max-width: 1800px;
    margin: 0px auto;
    font-size: 1em;
    font-family: 'MyCustomFont';
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E9E8EB;
    padding: 50px 60px 0px 60px;
}

main .first {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E9E8EB;
    border-radius: 0px 0px 115px 115px;
}

main .first h1 {
    font-size: 160px;
    color: #50836a;
    margin: 0px;
}


main .first .season {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

main .first .register {
    display: flex;
    flex-direction: row;
    font-size: 40px;
    color: #50836a;
}

main .first .button1 {
    font-size: 30px;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: #bb1613;
    color: #ffffff;
    font-family: 'MyCustomFont';
}

main .first .button2 {
    font-size: 30px;
    padding: 10px 40px;
    border-radius: 10px;
    background-color: #50836a;
    color: #ffffff;
    font-family: 'MyCustomFont';
}


main .second {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main .second .card {
    display: flex;
    flex-direction: column;
    margin: 35px;
    justify-content: center;
    align-items: center;
    margin-right: 80px;
}

main .second  p {
    font-size: 20px;
    color: #bb1613;
    font-weight: bold;
}

main .third div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 200px;
    padding: 0px;
}

main .third .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

main .third .middle-card {
    margin: 0px;
}

main .third  p {
    font-size: 25px;
    color: #50836a;
    padding: 0px 90px;
}

main .Fourth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E9E8EB;
    padding-top: 30px;
}

main .Fourth .card {
    display: flex;
    flex-direction: column;
    margin: 30px;
    justify-content: center;
    align-items: center;
    background-color: #FFFF;
    padding: 10PX;
    border-radius: 15PX;
}

main .Fourth div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main .Fourth button {
    font-size: 20px;
    font-family: 'MyCustomFont';
    background-color: #bb1613;
    color: #ffffff;
    border-radius: 30px;
}

main .Fourth div p {
    background-color: #E9E8EB;
}

main .Fourth P {
    background-color: #FFFF;
    font-size: 20px;
}

main .fifth {
    background-color: #E9E8EB ;
}



.accordion {
    display: flex;
    flex-direction: column;
    max-width: 991px;
    min-width: 320px;
    margin: auto;
    padding: 0 50px;
}
.accordion h1 {
    font-size: 32px;
    text-align: center;
}
.accordion-item {
    margin-top: 16px;
    border: 1px solid #fcfcfc;
    border-radius: 6px;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.accordion-item .accordion-item-title {
    position: relative;
    margin: 0;
    display: flex;
    width: 100%;
    font-size: 15px;
    cursor: pointer;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 14px 20px;
    box-sizing: border-box;
    align-items: center;
}
.accordion-item .accordion-item-desc {
    display: none;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #444;
    border-top: 1px dashed #ddd;
    padding: 10px 20px 20px;
    box-sizing: border-box;
}
.accordion-item input[type="checkbox"] {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
}
.accordion-item input[type="checkbox"]:checked ~ .accordion-item-desc {
    display: block;
}
.accordion-item
    input[type="checkbox"]:checked
    ~ .accordion-item-title
    .icon:after {
    content: "-";
    font-size: 20px;
}
.accordion-item input[type="checkbox"] ~ .accordion-item-title .icon:after {
    content: "+";
    font-size: 20px;
}
.accordion-item:first-child {
    margin-top: 0;
}
.accordion-item .icon {
    margin-left: 14px;
}

@media screen and (max-width: 767px) {
    .accordion {
        padding: 0 16px;
    }
    .accordion h1 {
        font-size: 22px;
    }
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #E9E8EB ;
    padding: 20px 0px 20px 0px;
}

footer p {
    background-color: #bb1613;
    color: #ffffff;
    font-size: 25px;
    padding: 10px 80px;
    border-radius: 0px 0px 30px 30px;
}

