body {
    margin: 0px;
    direction: rtl;
    font-size: 16px;
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('./font/IRANSansX-Regular.woff') format('woff');
    font-size: 16px;

}

.main-container {
    width: 100%;
    max-width: 1900px;
    margin: 0px auto;
    font-family: 'MyCustomFont';
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E9E8EB;
    padding: 3% 3% 3% 3%;
}


main .first {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    align-items: center;
    background-color: #E9E8EB;
    padding: 0 5%;
    border-radius: 0px 0px 50px 50px;
}


main .first .season {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

main .first .register {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    color: #286444;
    margin: 0px;
    padding: 0px;
    font-size: 2.1vw;
}

main .first .btnBox {
    display: block;
    justify-content: center;
    text-align: center;
    border: 0px;
}

main .first .button1 {
    padding: 0%;
    border-radius: 10px;
    background-color: #bb1613;
    color: #ffffff;
    font-family: 'MyCustomFont';
    padding: 2px 10px;
    border: 0px;
    font-size: 2vw;
}

main .first .button2 {
    padding: 0%;
    border-radius: 10px;
    background-color: #286444;
    color: #ffffff;
    font-family: 'MyCustomFont';
    padding: 2px 18px;
    border: 0px;
    font-size: 2vw;
}


main .second {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    margin: 3% 15%;
}

main .second .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

main .second  p {
    color: #bb1613;
    font-weight: bold;
}

main .third div {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    margin: 2% 4%;
}

main .third .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .third  p {
    color: #286444;
    text-align: center;
    font-stretch: ultra-expanded;
    padding: 0% 10%;
}

main .Fourth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    background-color: #E9E8EB;
}

main .Fourth .cards {
    width: 20%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    background-color: #FFFF;
    padding: 10pX;
    border-radius: 15px;
}

main .Fourth div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1% 1%;
}

main .Fourth .divFourth {
    margin: 2% 0;
}


main .Fourth button {
    font-family: 'MyCustomFont';
    background-color: #bb1613;
    color: #ffffff;
    border-radius: 30px;
    border: none;
}

main .Fourth div p {
    background-color: #E9E8EB;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

main .Fourth p {
    background-color: #FFFF;
    border-radius: 10px;
    text-align: center;
    padding: 1% 1%;
}

main .fifth1 {
    background-color: #ffffff ;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 1% 1%;
}

main .fifth1 .text {
    font-size: 2evm;
    font-weight: bold;
    margin-top: 0px;
}

main .fifth1 .form {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    padding: 0px;
    margin-right: 15%;
    text-align: right;
}

main  .fifth1 .form input {
    border-radius: 30px;
    border: 1px solid #000;
    width: 65%;
    padding: 10px 10px;
    margin: 2% 2%;
    background-color: #F5F5F5;
}

main .fifth1 .form label {
    margin-right: 20px;
}

main .fifth1 .button4 {
    padding: 0%;
    border-radius: 30px;
    background-color: #286444;
    color: #ffffff;
    font-family: 'MyCustomFont';
    padding: 2px 18px;
    border: 0px;
    padding: 8px 15px;
    margin: 1% 0%;
}

main .fifth1 .alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

main .fifth1 .alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    margin: 0% 3%;
    border-radius: 15px;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

main .fifth1 .close {
    float: right;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.2;
}

.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.5;
}

main .fifth1 .select {
    background-color: #f1f1f1;
    color: #333;
    padding: 10px;
    border-radius: 5px;
  }
  
  .select option {
    background-color: #f1f1f1;
    color: #333;
    padding: 5px;
  }

main .fifth {
    background-color: #E9E8EB;
}

.accordion {
    display: flex;
    flex-direction: column;
    max-width: 991px;
    margin: auto;
    padding: 0 50;
}
.accordion h1 {
    font-size: 2em;
    text-align: center;
}
.accordion-item {
    margin-top: 1em;
    border: 1px solid #fcfcfc;
    border-radius: 6px;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.accordion-item .accordion-item-title {
    position: relative;
    margin: 0;
    display: flex;
    width: 100%;
    font-size: 0.9em;
    cursor: pointer;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 14px 20px;
    box-sizing: border-box;
    align-items: center;
}
.accordion-item .accordion-item-desc {
    display: none;
    font-size: 0.9em;
    line-height: 22px;
    font-weight: 300;
    color: #444;
    border-top: 1px dashed #ddd;
    padding: 10px 20px 20px;
    box-sizing: border-box;
}
.accordion-item input[type="checkbox"] {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
}
.accordion-item input[type="checkbox"]:checked ~ .accordion-item-desc {
    display: block;
    text-align: justify;
}
.accordion-item
    input[type="checkbox"]:checked
    ~ .accordion-item-title
    .icon:after {
    content: "-";
    font-size: 1.1em;
}
.accordion-item input[type="checkbox"] ~ .accordion-item-title .icon:after {
    content: "+";
    font-size: 1.1em;;
}
.accordion-item:first-child {
    margin-top: 0;
}
.accordion-item .icon {
    margin-left: 10px;
}

@media screen and (max-width: 767px) {
    .accordion {
        padding: 0 16px;
    }
    .accordion h1 {
        font-size: 1em;
    }
    .accordion-item .accordion-item-title {
        font-size: 0.6em;
    }
    .accordion-item .accordion-item-desc {
        font-size: 0.6em;
    }

}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #E9E8EB ;
}

footer p {
    background-color: #bb1613;
    color: #ffffff;
    padding: 1% 8%;
    border-radius: 0px 0px 30px 30px;
    text-align: center;
    margin: 2% 3%;
}

/* media query */

    .main-container {width: 100%;}
    

    header .image0  {width: 10%;}


    main .first .image1 {width: 80%;}
    main .first .text1


    main .second .image2 {width: 30%;}
    main .second .text2 {font-size: 1.3em;}

    main .third .image3 {width: 15%;}
    main .third .image4 {width: 65%;}
    main .third .text3 {font-size: 1.3em;}

    main .Fourth .image5 {width: 20%;}
    main .Fourth .text4 {font-size: 1.1em;}

    footer p {font-size: 1.3em;}

@media screen and (max-width:1600px){
    .main-container {width: 100%;}
    

    header .image0  {width: 10%;}


    main .first .image1 {width: 80%;}
    main .first .text1


    main .second .image2 {width: 30%;}
    main .second .text2 {font-size: 1.3em;}

    main .third .image3 {width: 15%;}
    main .third .image4 {width: 65%;}
    main .third .text3 {font-size: 1.3em;}

    main .Fourth .image5 {width: 20%;}
    main .Fourth .text4 {font-size: 1.1em;}

    footer p {font-size: 1.3em;}


    .main-container .text {font-size: 1.2em;}
    .main-container .btn {font-size: 1.5em;}
}
@media screen and (max-width:1200px){
    .main-container {width: 100%;}


    header .image0  {width: 10%;}


    main .first .image1 {width: 80%;}


    main .second .image2 {width: 30%;}
    main .second .text2 {font-size: 1.3em;}

    main .third .image3 {width: 15%;}
    main .third .image4 {width: 65%;}
    main .third .text3 {font-size: 1.1em;}


    main .Fourth .image5 {width: 20%;}
    main .Fourth .text4 {font-size: 1.3em;}

    footer p {font-size: 1.3em;}


    .main-container .image {width: 80%;}
    .main-container .text {font-size: 1.2em;}
    .main-container .btn {font-size: 1.2em;}
}

@media screen and (max-width:960px){
    .main-container {width: 100%;}


    header .image0  {width: 10%;}
    

    main .first .image1 {width: 80%;}


    main .second .image2 {width: 30%;}
    main .second .text2 {font-size: 0.9em;}

    main .third .image3 {width: 15%;}
    main .third .image4 {width: 65%;}
    main .third .text3 {font-size: 0.7em;}

    main .Fourth .image5 {width: 20%;}
    main .Fourth .text4 {font-size: 0.9em;}

    footer p {font-size: 0.9em;}



    .main-container .image {width: 80%;}
    .main-container .text {font-size: 1.2em;}
    .main-container .btn {font-size: 1em;}
}

@media screen and (max-width:720px){
    .main-container {width: 100%;}


    header .image0 {width: 10%;}
    

    main .first .image1 {width: 80%;}


    main .second .image2 {width: 30%;}
    main .second .text2 {font-size: 0.8em;}

    main .third .image3 {width: 15%;}
    main .third .image4 {width: 65%;}
    main .third .text3 {font-size: 0.7em;}

    main .Fourth .image5 {width: 20%;}
    main .Fourth .text4 {font-size: 0.8em;}

    footer p {font-size: 0.7em;}



    .main-container .image {width: 100%}
    .main-container .text {font-size: 1.2em;}
    .main-container .btn {font-size: 0.8em;}
}

@media screen and (max-width:480px){
    .main-container {width: 100%;}


    header .image0 {width: 10%;}
    

    main .first .image1 {width: 80%;}


    main .second .image2 {width: 30%;}
    main .second .text2 {font-size: 0.5em;}

    main .third .image3 {width: 15%;}
    main .third .image4 {width: 90%;}
    main .third .text3 {font-size: 0.5em;}

    main .Fourth .image5 {width: 35%;}
    main .Fourth .text4 {font-size: 0.7em;}

    footer p {font-size: 0.7em;}



    .main-container .image {width : 100%;}
    .main-container .text {font-size: 0.8em;}
    .main-container .btn {font-size: 0.7em;}
    main .Fourth .cards {width: 40%;}
}

@media screen and (max-width:300px){
    .main-container {width: 100%;}


    header .image0 {width: 10%;}
    

    main .first .image1 {width: 80%;}


    main .second .image2 {width: 80%;}
    main .second .text2 {font-size: 0.5em;}


    main .third .image3 {width: 15%;}
    main .third .image4 {width: 80%;}
    main .third .text3 {font-size: 0.5em;}

    main .Fourth .image5 {width: 40%;}
    main .Fourth .text4 {font-size: 0.9em;}
    

    footer p {font-size: 0.5em;}



    .main-container .image {width : 100%;}
    .main-container .text {font-size: 1em;}
    .main-container .btn {font-size: 0.5em;}
    main .Fourth .cards {width: 40%;}
    
}
